<!DOCTYPE html>
<html>
<head>
  <title>Avery's First Birthday Party!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= render 'layouts/heap' %>
</head>
<body>

<%= yield %>

</body>
</html>
